<%= form_with(model: group, class: "contents") do |f| %>
  <%= render "shared/error_messages", resource: group %>

  <div class="form-control">
    <%= f.label :title, class: "label-text" %>
    <%= f.text_field :title, class: "input input-bordered w-full" %>
  </div>

  <div class="mt-5">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Back to groups", groups_path, class: "ml-2 btn" %>
  </div>
<% end %>
