<%= form_with(model: link, class: "contents") do |f| %>
  <%= render "shared/error_messages", resource: link %>

  <div class="form-control mb-3">
    <%= f.label :title, class: "label-text" %>
    <%= f.text_field :title, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control">
    <%= f.label :url, class: "label-text" %>
    <%= f.text_field :url, class: "input input-bordered w-full" %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary mt-5" %>
  <%= link_to "Back to links", links_path, class: "ml-2 btn" %>
<% end %>
