<div class="mb-20">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <h1 class="font-bold text-4xl mr-2">Links</h1>

      <details class="dropdown">
        <summary class="btn btn-sm"><%= @group ? "Group: " + @group.title : "ungrouped" %></summary>
        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
          <li><%= link_to "Ungrouped", links_path %></li>
          Other:
          <% Group.pluck(:title).each do |title| %>
            <li><%= link_to title, links_path(group: title) %></li>
          <% end %>
        </ul>
      </details>
    </div>

    <div>
      <%= link_to "Add link",
                  new_link_path,
                  data: { turbo_frame: "modal", controller: "modal", action: "modal#open" },
                  class: "btn btn-sm" %>
      <%= link_to "Add group",
                  new_group_path,
                  data: { turbo_frame: "modal", controller: "modal", action: "modal#open"},
                  class: "btn btn-sm" %>
    </div>
  </div>
</div>

  <div class="overflow-x-auto">
    <table class="table">
      <tbody id="links_table">
        <%= render partial: "link", collection: @links %>
      </tbody>
    </table>
  </div>
