<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Links List</h1>
    <%= link_to "Add link", new_link_path, class: "btn mb-5" %>
  </div>

  <div class="overflow-x-auto">
    <table class="table">
      <tbody>
      <% @links.each.with_index(1) do |link, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= link.title %></td>
          <td><%= link.url %></td>
          <td><%= link_to "edit", edit_link_path(link) %></td>
          <td><%= button_to "delete", link_path(link), method: :delete %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
